<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Ajouter un module</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
</head>
<body>
	<div class="col-md-4 col-md-push-4 jumbotron" style="margin-top: 10%;">
		<form action="" class="form-inline center" method="POST" th:action="@{/module/add}" th:object="${module}">
			<div class="form-group">
			   <label for="promo">Promotion</label>
			   <input type="text" class="form-control" id="libelle" th:field="*{nomModule}" placeholder="Angular">
			</div>
			<div class="form-group">
		      <label class="control-label col-sm-2" for="email">Enseignant</label>
		      <div class="col-sm-10">
		        <select class="form-control" th:field="*{enseignant}">
		        	<option value="">Selectionnner</option>
		        	<option th:each="e:${lesensei}" th:value="${e.id}" th:text="${e.nomComplet}"></option>
		        </select>
		      </div>
		    </div>
			<div class="form-group">
			   <input type="submit" class="btn btn-success form-control" value="enregistrer">
			</div>
		</form>
	</div>
</body>
</html>