<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Add Apprenant</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-push-1 col-sm-1 col-xs-1 col-lg-push-1 col-lg-11 col-xs-11 col-md-11 col-sm-11 well" style="margin-top:4%">
				<form class="form-horizontal" th:action="@{/promo/add}" th:object="${apprenant}" method="post">
					<fieldset>
						<!-- Form Name -->
						<legend class="text-center">Ajouter un apprenant</legend>
						<!-- Appended Input-->
						<div class="form-group">
							<label class="col-md-4 col-xs-4 control-label" for="appendedtext">Nom
								:</label>
							<div class="col-md-4 col-xs-4">
								<div class="input-group">
									<input id="appendedtext" name="appendedtext"
										class="form-control" placeholder="Veuillez saisir le nom"
										th:field="*{nom}"
										type="text"> <span class="input-group-addon">Nom</span>
								</div>

							</div>
						</div>
						<!-- Appended Input-->
						<div class="form-group">
							<label class="col-md-4 col-xs-4 control-label" for="appendedtext">Prenom
								:</label>
							<div class="col-md-4 col-xs-4">
								<div class="input-group">
									<input id="appendedtext" name="appendedtext"
										th:field="*{prenom}"
										class="form-control" placeholder="Veuillez saisir le prénom"
										type="text"> <span class="input-group-addon">Prenom</span>
								</div>

							</div>
						</div>
						<!-- Appended Input-->
						<div class="form-group">
							<label class="col-md-4  col-xs-4 control-label" for="date naissance">Date
								Naissance : </label>
							<div class="col-md-4 col-xs-4">
								<div class="input-group">
									<input id="date naissance" name="date naissance"
										th:field="*{dateNaissance}"
										class="form-control" placeholder="" type="text"> <span
										class="input-group-addon">Date</span>
								</div>

							</div>
						</div>
						<!-- Appended Input-->
						<div class="form-group">
							<label class="col-md-4 col-xs-4 control-label" for="email">Email :</label>
							<div class="col-md-4 col-xs-4">
								<div class="input-group">
									<input id="email" name="email" class="form-control"
										th:field="*{email}"
										placeholder="exemple@yahoo.fr" type="text"> <span
										class="input-group-addon">Email</span>
								</div>

							</div>
						</div>
						<!-- Appended Input-->
						<div class="form-group">
							<label class="col-md-4 col-xs-4 control-label" for="tel">Tel :</label>
							<div class="col-md-4 col-xs-4">
								<div class="input-group">
									<input id="tel" name="tel" class="form-control"
										th:field="*{tel}"
										placeholder="771245212" type="text"> <span
										class="input-group-addon">Tel</span>
								</div>

							</div>
						</div>
						<!-- Button (Double) -->
						<div class="form-group">
							<label class="col-md-4 col-xs-4 control-label" for="Valider"></label>
							<div class="col-md-8 col-xs-8">
								<button id="Valider" name="Valider" class="btn btn-success">Valider</button>
								<button id="Valider" name="Valider" class="btn btn-danger">Annuler</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
</html>